xxx.xxxxxx.xxx {
  encode gzip
  tls zhcluo@gmail.com
  reverse_proxy /home localhost:21523 {
    header_up -Origin
  }
  reverse_proxy /ss localhost:31523 {
    header_up -Origin
  }
  route {
  forward_proxy {
    basic_auth user pass
    hide_ip
    hide_via
    probe_resistance
  }
  reverse_proxy /home localhost:21523 {
    header_up -Origin
  }
  reverse_proxy /ss localhost:31523 {
    header_up -Origin
  }
  file_server { root /usr/local/caddy/www/file }
}
}

